:root {
  --font-size-sm: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-size-sm);
  line-height: 1.5;

  height: 100vh;
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-color: hsl(0 0% 0% / 0.4);
  background-blend-mode: darken;
}